parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        - tests/
        - vendor/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingCallableSignature: false
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\)#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+#'
    tmpDir: build/phpstan
    parallel:
        maximumNumberOfProcesses: 4